<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atakmap.android.UasDJI"
    android:versionCode="1"
    android:versionName="DEV" >

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Hello World Tool"
        android:theme="@style/AppTheme"
        android:persistent="true"

        >

        <meta-data android:name="plugin-api" android:value="com.atakmap.app@3.3"/>

    </application>

</manifest>
